# Node modules (both client and server)
client/node_modules/
server/node_modules/
node_modules/
node_modules 


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
env.local
env
client/.env
server/.env

# Vite build output
client/dist/

# Build output for server (if any)
server/dist/

# OS files
.DS_Store
Thumbs.db

# VSCode workspace settings
.vscode/

# Docker data volumes (optional, but usually ignored)
pgdata/
